* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ubuntu;
}

body {
    background-color: pink;
    height: 100vh;
    width: 100vw;
}

nav {
    width: 100%;
    padding: 20px;
    background-color: aliceblue;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 16px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 800;
    transition: all 0.3s;
}

.nav-link:hover {
    color: red;
    transform: scale(1.1);
}

.nav-link:active {
    color: blue;
}